@font-face {
    font-family: iCielBCDowntown-Regular;
    src: url('fonts/iCielBCDowntown-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: iCiel Simplifica;
    src: url('fonts/iCiel Simplifica.otf');
    font-weight: normal;
    font-style: normal;
}


/* Global */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: iCiel Simplifica, sans-serif;
    color: #fff;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

.container {
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}


/* Header */

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1400;
    height: 4.4rem;
    background-color: white;
    backdrop-filter: blur(0.5rem);
}

.nav {
    font-family: iCielBCDowntown-Regular;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;
}

.nav-list-mobile {
    display: none;
}

.nav-link {
    font-size: 1.4rem;
    color: black;
    padding: 0 1rem;
    transition: opacity .5s;
}

.nav-link:hover {
    opacity: .7;
}

.nav-link-muse {
    width: 8.8rem;
    height: 4.4rem;
    /* resize: 8.8rem 4.4rem; */
    background: url("img/muse-logo.png") center no-repeat;
}


/* Sale section */

.sale-banner {
    background: url("img/john-mayer.webp");
    margin-top: 4.4rem;
}

.title {
    color: white;
    text-align: right;
    padding-top: 10rem;
    padding-right: 10rem;
}

.title-heading {
    font-size: 5rem;
    line-height: 1.07143;
    letter-spacing: -.005rem;
}

.title-subheading {
    font-size: 2.5rem;
    margin-top: .6rem;
    letter-spacing: .008rem;
    font-weight: 400;
}

.title-description {
    font-size: 1.75rem;
    color: #888;
    margin-top: .6rem;
}

.cta {
    text-align: right;
    margin-top: 0.6rem;
    padding-right: 10rem;
    border: 0;
    border-radius: 50%;
}

.cta-link {
    color: white;
    font-size: 1.5rem;
    display: inline-block;
}

.cta-link:nth-child(3) {
    padding-right: 15rem;
}

.cta-link:hover {
    border-bottom: 2px solid white;
}


/* Service section */

.services-banner {
    background: url("img/service-hero.jpg");
}

.title-dark {
    color: black;
}

.cta-link-dark {
    color: black;
}


/* Product section */

.product-banner {
    background: url("img/product-hero.jpg");
}


/* bottom */

.hero {
    height: 100vh;
    background-size: auto 80rem;
    background-position: center;
    background-repeat: no-repeat;
    border-top: .6rem solide #fff;
    border-bottom: .6rem solid #fff;
}

.sale-banner {
    border-top: none;
}


/* footer */

#icon {
    padding: 10px 10px;
}

#icon a {
    display: contents
}

#contact {
    padding: 10px 10px;
}

#contact p {
    color: black;
}

footer {
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4.4rem 2.2rem 4.4rem 2.2rem
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer h3 {
    font-weight: 1000;
    padding-bottom: 20px;
}

footer a {
    margin: 0 0 8px 0;
}